body {
    font-family: MaisonNeue-Light;
    font-size: 16px;
}

@font-face {
    font-family: MaisonNeue-Light;
    src: url("/fonts/MaisonNeue-Light.otf");
}

@font-face {
    font-family: MaisonNeue-Medium;
    src: url("/fonts/MaisonNeue-Medium.otf");
}

@font-face {
    font-family: MaisonNeue-Bold;
    src: url("/fonts/MaisonNeue-Bold.otf");
}

h1 {
    font-family: MaisonNeue-Bold;
    font-size: 50;
    line-height: 70px;
}

h4 {
    font-size: 20;
    line-height: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #21ce99;
}