
.Intro {
    margin: 0 20 0 20;
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.IntroText {
    width: 400px;
    margin-top: 50px;
    height: 100%;
}

.IntroImage {
    flex-grow: 2;
    margin-top: 50px;
}

.IntroImage img {
    text-align: start;
    width: 100%;
}

